<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExpenseServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddExpenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExpenseServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateExpenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExpenseServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteExpenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllExpensesServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewAllExpensesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExpenseServlet</servlet-name>
        <url-pattern>/AddExpenseServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExpenseServlet</servlet-name>
        <url-pattern>/UpdateExpenseServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExpenseServlet</servlet-name>
        <url-pattern>/DeleteExpenseServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllExpensesServlet</servlet-name>
        <url-pattern>/ViewAllExpensesServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>dashboard.jsp</welcome-file>
    </welcome-file-list>
</web-app>
